<div class="navbar">
  <%= button_to "home", root_path, class: "nav_button", method: :get %>
  <%= button_to "memory collection", memories_path, class: "nav_button", method: :get %>
  <%= button_to "record a memory", new_memory_path, class: "nav_button", method: :get %>
</div>

<h1 class="main_title">record your memory.</h1>

<div class="main_content">
  <%= form_for @memory do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <center>
      <p>
        <%= f.submit "submit memory", class: "submit_button"%>
      </p>
    </center>

  <% end %>
</div>

<% if @memory.errors.any? %>
  <h4>The following errors prevented the memory from being recorded:</h4>
  <ul>
    <% @memory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
